*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{
    width: 350px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px 0;
}

.header{
    margin-bottom: 10px;
    padding: 10px;
}
#textarea{
    width: 90%;
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

}

button{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    cursor: pointer;
    color: aliceblue;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.output{
    margin-top: 10px;
 
}